@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <b>Jenkins Test - new functionality added in a new branch</b>
    
</div>
<br />
<div class="row">
    <h1 style="color:orangered">@DateTime.Now.ToString("dd-MMM-yyyy hh:mm:ss tt")</h1>
</div>